[submodule "piton/design/chip/tile/ariane"]
	path = piton/design/chip/tile/ariane
	url = ../meep_ariane.git

[submodule "piton/design/chip/tile/vas_tile_core"]
	path = piton/design/chip/tile/vas_tile_core
	url = ../../../rtl_designs/openpiton_lagarto.git
