[submodule "piton/design/chip/tile/ariane"]
	path = piton/design/chip/tile/ariane
	url = ../meep_ariane.git

[submodule "piton/design/chip/tile/vas-tile-core"]
	path = piton/design/chip/tile/vas-tile-core
	url = ../vas-tile-core.git
